.advantages {
    background-color: #f3f3f3;
    padding: 60px 0 50px 0;
    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &_item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 35px;
    }
    &_img {
        width: 60px;
        height: 60px;
    }
    &_text {
        padding-left: 20px;
        line-height: 1.57;
        font-size: 16px;
        font-weight: 700;
        color: #ec644b;
        text-align: left;
        max-width: 450px;
        span {
            display: block;
            font-size: 14px;
            font-weight: 300;
            text-align: left;
            color: #3a3a3a;
        }
    }

}