.agent {
    background: url('../img/agent/agent_bg.jpg') center (center / cover) no-repeat;
    padding: 60px 0 75px 0;
    &_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_title {
        padding-top: 20px;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
    }
    &_descr {
        padding-top: 25px;
        font-size: 19px;
        font-weight: 300;
        text-align: center;
        max-width: 1000px;
    }
}