@font-face {
	font-family: 'Roboto';
	src: local('../fonts/Roboto-Thin.ttf'),
		url('../fonts/Roboto-Thin.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('../fonts/Roboto-Light.ttf'),
		url('../fonts/Roboto-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('../fonts/Roboto-Regular.ttf'),
		url('../fonts/Roboto-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('../fonts/Roboto-Medium.ttf'),
		url('../fonts/Roboto-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('../fonts/Roboto-Bold.ttf'),
		url('../fonts/Roboto-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('../fonts/Roboto-Black.ttf'),
		url('../fonts/Roboto-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
}