.title {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: #2e2e2e;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.line {
    width: 148px;
    height: 1px;
    background-color: #ec644b;
    margin: 0 auto;
}
.subtitle {
    margin: 0;
    padding-top: 18px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.14;
    text-align: center;
    color: #2e2e2e;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle_img {
    width: 60px;
    height: 60px;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.phone-number {
    font-size: 19px;
    font-weight: 700;
    text-align: right;
    padding-right: 20px;
    span {
        display: block;  
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 5px;
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

}
.pageup {
    opacity: 0;
	width: 30px ;
	height: 30px;
	position: fixed;
	bottom: 30px;
	right: 1%;
	z-index: 30;
	// background-color: #fff;
	cursor: pointer;
	// border: 1px solid white;
    transition: .4s all ease;
	border-radius: 100%;
	background-color: #ec644b;
	&:hover {
		background-color: #a83926;
	}
	&:active {
		background-color: #6d1e10;
	}
}